name: Build, lint and test

on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:

env:
  GO_VERSION: "1.20"

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run linter
        run: make lint
      - name: Run tests
        run: make test
